keybinds clear-defaults=true {
    shared_except "normal" "locked" "search" "scroll" "renametab" "renamepane" {
        bind "Enter" "Esc" { SwitchToMode "Normal"; }
    }

    normal {
       bind "Super 1" { GoToTab 1; SwitchToMode "Normal"; }           // Cmd 1
       bind "Super 2" { GoToTab 2; SwitchToMode "Normal"; }           // Cmd 2
       bind "Super 3" { GoToTab 3; SwitchToMode "Normal"; }           // Cmd 3
       bind "Super 4" { GoToTab 4; SwitchToMode "Normal"; }           // Cmd 4
       bind "Super 5" { GoToTab 5; SwitchToMode "Normal"; }           // Cmd 5
       bind "Super 6" { GoToTab 6; SwitchToMode "Normal"; }           // Cmd 6
       bind "Super 7" { GoToTab 7; SwitchToMode "Normal"; }           // Cmd 7
       bind "Super 8" { GoToTab 8; SwitchToMode "Normal"; }           // Cmd 8
       bind "Super 9" { GoToTab 9; SwitchToMode "Normal"; }           // Cmd 9
       bind "Super 0" { GoToTab 10; SwitchToMode "Normal"; }          // Cmd 0
    }

    shared_among "search" "scroll" {
        bind "Esc" { ScrollToBottom; SwitchToMode "Normal"; }
    }

    shared {
        bind "Alt d" { Detach; } // Option D
        bind "Alt q" { Quit; }   // Option Q
    }

    shared_except "entersearch" "locked" {
        bind "Super f" { SwitchToMode "EnterSearch"; SearchInput 0; }         // Cmd F
    }

    shared_except "locked" "search" {
        bind "Super n" { NewPane "Right"; }                                    // Cmd N
        bind "Super d" { NewPane "stacked"; }                                  // Cmd D - Stacked pane
        bind "Super shift d" { NewPane "Down"; }                               // Cmd Shift D - Pane below
        bind "Super shift n" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }                                                                      // Cmd Shift N - New session
        bind "Super shift l" { NextSwapLayout; }                               // Cmd Shift L - Cycle layouts
        bind "Super r" { SwitchToMode "RenamePane"; PaneNameInput 0; }         // Cmd R
        bind "Super b" { TogglePaneFrames; SwitchToMode "Normal"; }            // Cmd B
        bind "Super m" { ToggleFocusFullscreen; SwitchToMode "Normal"; }       // Cmd M
        bind "Super enter" { ToggleFocusFullscreen; SwitchToMode "Normal"; }       // Cmd Enter
        bind "Super o" { ToggleFloatingPanes; }                                // Cmd O
        bind "Super shift o" { TogglePaneEmbedOrFloating; }                    // Cmd Shift O
        // bind "Super p" {
        //     LaunchOrFocusPlugin "zessionizer" {
        //         floating true
        //         move_to_focused_tab true
        //     };
        //     SwitchToMode "Normal"
        // }                                                                // Cmd p
        bind "Super shift p" {
            LaunchOrFocusPlugin "zellij:sequence" {
                floating true
            };
            SwitchToMode "Normal"
        }                                                                // Cmd Shift p
        bind "Super p" {
            LaunchOrFocusPlugin "session-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }                                                                // Cmd p
        bind "Super w" { CloseFocus; SwitchToMode "Normal"; }            // Cmd W

        bind "Super h" { MoveFocusOrTab "Left"; }     // Cmd h
        bind "Super l" { MoveFocusOrTab "Right"; }    // Cmd l
        bind "Super k" { MoveFocus "Up"; }            // Cmd k
        bind "Super j" { MoveFocus "Down"; }          // Cmd j
        bind "Super [" { MoveFocusOrTab "Left"; }     // Cmd [
        bind "Super ]" { MoveFocusOrTab "Right"; }    // Cmd ]

        bind "Alt ," {
            LaunchOrFocusPlugin "configuration" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }                                              // Alt ,

        bind "Alt p" {
            LaunchOrFocusPlugin "plugin-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }                                              // Alt p

        // New in v0.44.0
        bind "Alt a" {
            LaunchOrFocusPlugin "about" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }                                              // Alt a - About
        bind "Alt l" {
            LaunchOrFocusPlugin "layout-manager" {
                floating true
                move_to_focused_tab true
            };
            SwitchToMode "Normal"
        }                                              // Alt l - Layout Manager
        bind "Alt i" { TogglePanePinned; }             // Alt i - Pin pane
        bind "Alt g" { TogglePaneInGroup; }            // Alt g - Toggle pane in group
        bind "Alt shift g" { ToggleGroupMarking; }     // Alt Shift g - Toggle group marking
        bind "Ctrl shift left" { Resize "Left"; }      // Ctrl Shift ←
        bind "Ctrl shift right" { Resize "Right"; }    // Ctrl Shift →
        bind "Ctrl shift up" { Resize "Up"; }          // Ctrl Shift ↑
        bind "Ctrl shift down" { Resize "Down"; }      // Ctrl Shift ↓

        bind "Alt shift left" { MovePane "Left"; }     // Opt Shift ←
        bind "Alt shift right" { MovePane "Right"; }   // Opt Shift →
        bind "Alt shift up" { MovePane "Up"; }         // Opt Shift ↑
        bind "Alt shift down" { MovePane "Down"; }     // Opt Shift ↓

        bind "Alt up" {
            NewTab { layout "compact"; }
            SwitchToMode "Normal";
        }                                                          // Opt ↑ or Cmd T
        bind "Super t" {
            NewTab { layout "compact"; }
            SwitchToMode "Normal";
        }                                                          // Opt ↑ or Cmd T
        bind "Alt r" { SwitchToMode "RenameTab"; TabNameInput 0; } // Opt R
        bind "Alt w" { CloseTab; SwitchToMode "Normal"; }          // Opt W
        bind "Super left" { GoToPreviousTab; }                     // Cmd ←
        bind "Super right" { GoToNextTab; }                        // Cmd →
        bind "Alt shift left" { MoveTab "Left"; }                  // Opt Shift ←
        bind "Alt shift right" { MoveTab "Right"; }                // Opt Shift →
    }

    shared_except "locked" {
        bind "Super up" { ScrollUp; }                   // Cmd ↑
        bind "Super down" { ScrollDown; }               // Cmd ↓
        bind "Super shift up" { HalfPageScrollUp; }     // Cmd Shift ↑
        bind "Super shift down" { HalfPageScrollDown; } // Cmd Shift ↓
        bind "Super shift right" { PageScrollUp; }      // Cmd Shift →
        bind "Super shift left" { PageScrollDown; }     // Cmd Shift ←
    }

    search {
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }

    entersearch {
        bind "Ctrl c" "Esc" { SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Search"; SearchToggleOption "CaseSensitivity"; }
    }

    renametab {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenameTab; SwitchToMode "Tab"; }
    }

    renamepane {
        bind "Enter" { SwitchToMode "Normal"; }
        bind "Esc" { UndoRenamePane; SwitchToMode "Pane"; }
    }
}

// Plugin aliases - can be used to change the implementation of Zellij
// changing these requires a restart to take effect
plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    // welcome-screen location="zellij:session-manager" {
    //     welcome_screen true
    // }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    // New in v0.44.0
    about location="zellij:about"
    sequence location="zellij:sequence"
    // layout-manager location="zellij:layout-manager"
    share location="zellij:share"
    // zessionizer location="file:~/.config/zellij/plugins/zessionizer.wasm" {
    //     scan_paths "~/Developer"
    //     cwd "/Users/akash"
    // }
}

// Plugins to load in the background when a new session starts
load_plugins {
  // "file:/path/to/my-plugin.wasm"
  // "https://example.com/my-plugin.wasm"
}

pane_frames false
serialize_pane_viewport true
theme "modus_operandi"
theme_dir "/Users/akash/.config/zellij/themes/"
default_layout "compact"
scroll_buffer_size 20000
show_startup_tips false

