.DS_Store
.config/fish/fish_variables
.config/fish/conf.d
.config/fish/functions
.config/fish/completions
.config/karabiner/automatic_backups/
.config/nvim/plugin/packer_compiled.lua
kitty.conf.bak
config.bak
config.kdl.bak
.config/lazygit/state.yml
