themes {

  // modus_vivendi
  modus_dark {
      fg "#ffffff"
      bg "#000000"
      // Black should match the terminal background color
      // This ensures the top and bottom bars are transparent
      black "#000000"
      red "#ff5f59"
      green "#44bc44"
      yellow "#d0bc00"
      blue "#2fafff"
      magenta "#feacd0"
      cyan "#00d3d0"
      white "#ffffff"
      orange "#fec43f"
  }

  // modus_operandi
  modus_light {
      fg "#000000"
      bg "#ffffff"
      // Black should match the terminal background color
      // This ensures the top and bottom bars are transparent
      black "#ffffff"
      red "#a60000"
      green "#006800"
      yellow "#6f5500"
      blue "#0031a9"
      magenta "#721045"
      cyan "#005e8b"
      white "#000000"
      orange "#884900"
    }
}
