themes {

  modus_dark {
      bg "#7030af"
      fg "#ffffff"
      red "#ff5f59"
      green "#44bc44"
      blue "#2fafff"
      yellow "#fec43f"
      magenta "#feacd0"
      orange "#ff9580"
      cyan "#00d3d0"
      black "#000000"
      white "#ffffff"
  }

  modus_light {
      bg "#dfa0f0"
      fg "#000000"
      red "#a60000"
      green "#006800"
      blue "#0031a9"
      yellow "#6f5500"
      magenta "#721045"
      orange "#884900"
      cyan "#005e8b"
      black "#000000"
      white "#ffffff"
    }
}
